<perch:before>
<ul class="hfeed listing"></perch:before>
    <li class="hentry">
        <h3><a href="<perch:blog id="postURL" />" rel="bookmark" class="entry-title"><perch:blog id="postTitle" /></a></h3>
        <perch:if exists="image"><img src="<perch:blog id="image" type="image" width="50" height="50" crop="true" />" alt="<perch:blog id="postTitle" />" /></perch:if>
        <div class="posted-date">
            Posted on <perch:blog id="postDateTime" format="%d %B %Y" />
        </div>
        <div class="description entry-summary">
        <perch:blog id="excerpt" type="textarea" textile="true" />
        <p class="read-more"><a href="<perch:blog id="postURL" />" rel="bookmark" class="entry-title">Read More</a></p>
        </div>
    </li>
<perch:after>
</perch:after>